.LinkCheckerContainer {
    margin-left: 1em;
  }
  
  .form-control {
    margin-bottom:10px;
  }
  
  .tableUsersLinkText {
    word-wrap:break-word;
  }
  
  .tableProductTitle {
    word-wrap:break-word;
  }
  
  .glyphicon {
    font-size: 26px;
  }
  
  .table {
    table-layout:fixed;
  }
  
  .dark-grey-bg {
    background-color:#eee;
  }
  
  .hidden { 
    display: none; 
  }
  
  .pad-footer {
    padding:40px;
  }
  
  .pad-bottom {
    padding-bottom:20px;
  }